@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap");
// GLOBAL COLOR

$primaryColor: #6a50b8;
$secondaryColor: #1e88e5;
$tertiaryColor: #fc5c04;

// BASE ELEMENTS
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans";
}
#logo {
  margin-left: 1rem;
  font-family: "MuseoModerno", cursive;
  background: -webkit-linear-gradient(rgb(150, 15, 228), rgb(5, 230, 192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.customContainer {
  margin-left: 4rem;
  margin-right: 4rem;
}
.menu {
  color: $primaryColor;
}

#mainHome {
  background: url(../img/cool-background.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardProfile {
  border-radius: 15px;
  color: $secondaryColor;

  &:hover {
    background-color: $secondaryColor;
    color: white;
  }
}

.cardHome {
  margin-top: 8rem;
  -webkit-box-shadow: 3px 7px 44px -4px rgba(199, 193, 199, 1);
  -moz-box-shadow: 3px 7px 44px -4px rgba(199, 193, 199, 1);
  box-shadow: 3px 7px 44px -4px rgb(195, 165, 243);
}

.memberName {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.homeImg {
  margin-left: 12px;
}
.title {
  color: $primaryColor;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
  display: inline-block;
  text-shadow: 0px 6px 9px rgba(150, 150, 150, 1);
}
.subTitle {
  color: $tertiaryColor;
}

ul {
  .btn-flat {
    font-weight: 600;
  }
}

thead {
  color: $secondaryColor;
  font-weight: 900;
}

.scrollable {
  width: auto;
  height: 50rem;
  overflow-y: scroll;
}

.rounded {
  border-radius: 10px;
}
.btn {
  font-weight: 600;
  text-transform: none;
}
.btnRounded {
  border-radius: 5px;
}
.credentialCard {
  margin-top: 10%;
}

.input-field input:focus + label {
  color: $primaryColor !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid $primaryColor !important;
  box-shadow: 0 1px 0 0 $primaryColor !important;
}

.input-field .prefix.active {
  color: $primaryColor !important;
}

// @media only screen and (max-width: 540px) {
//   #logo {
//     display: none;
//   }
// }
